Debug/
Release
DebugPS/
ReleasePS/
*.user
*.opensdf
*.sdf
*.suo
*.aps
*.VC.db
*.VC.VC.opendb
*.sconsign.dblite
scons-out/
.vs/
ipch/
CedrusXidDriver/*_i.c
CedrusXidDriver/*_i.h
CedrusXidDriver/*_p.h
CedrusXidDriver/*_p.c
*.vspscc
