[submodule "scons_helpers"]
	path = scons_helpers
	url = https://github.com/cedrus-opensource/scons_helpers.git
[submodule "binaries_boost"]
	path = binaries_boost
	url = https://github.com/cedrus/binaries_boost.git
[submodule "Python27"]
	path = Python27
	url = https://github.com/cedrus/Python27.git
