<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="CXEP_DIR">
            <Component Id="boost_date_time_vc100_mt_1_49.dll" Guid="*">
                <File Id="boost_date_time_vc100_mt_1_49.dll" KeyPath="yes" Source="$(var.SourceDir)\boost_date_time-vc100-mt-1_49.dll" />
            </Component>
            <Component Id="boost_filesystem_vc100_mt_1_49.dll" Guid="*">
                <File Id="boost_filesystem_vc100_mt_1_49.dll" KeyPath="yes" Source="$(var.SourceDir)\boost_filesystem-vc100-mt-1_49.dll" />
            </Component>
            <Component Id="boost_system_vc100_mt_1_49.dll" Guid="*">
                <File Id="boost_system_vc100_mt_1_49.dll" KeyPath="yes" Source="$(var.SourceDir)\boost_system-vc100-mt-1_49.dll" />
            </Component>
            <Component Id="CedrusXidDriver.dll" Guid="*">
                <File Id="CedrusXidDriver.dll" KeyPath="yes" Source="$(var.SourceDir)\CedrusXidDriver.dll" />
            </Component>
            <Component Id="xid_device_driver.dll" Guid="*">
                <File Id="xid_device_driver.dll" KeyPath="yes" Source="$(var.SourceDir)\xid_device_driver.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="dlls_to_include">
            <ComponentRef Id="boost_date_time_vc100_mt_1_49.dll" />
            <ComponentRef Id="boost_filesystem_vc100_mt_1_49.dll" />
            <ComponentRef Id="boost_system_vc100_mt_1_49.dll" />
            <ComponentRef Id="CedrusXidDriver.dll" />
            <ComponentRef Id="xid_device_driver.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>